PROJECT_NAME=MedHirePro
API_V1_STR=/api/v1
SECRET_KEY=SUPER_SECRET_STRING
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
MONGODB_URL=mongodb://mongodb:27017
DATABASE_NAME=medhirepro_db
GOOGLE_CLIENT_ID=xxxxxxxxx
ADMIN_SECRET_KEY=xxxxxxxxx
BACKEND_CORS_ORIGINS=["http://localhost:3000", "https://your-app.netlify.app"]
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret